
CSS: element, id, class
 
selector{
    property:value;
 
}
*/
 
body{ 
    background-color: lightgreen;
    background-image: url("https://cloud.githubusercontent.com/assets/15823647/11513282/32ea3534-9840-11e5-8187-e02ed76c4c05.jpg");
}
 
 
h1{
    text-decoration:underline
}
 
#header{
    text-align:center;
}
